# Prerequisites
*.pyc
__pycache__/
.venv/
env/
venv/
ENV/

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local

# IDEs / System
.vscode/
.idea/
.DS_Store
Thumbs.db
